<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal Planner Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>
<body>
    <header>
        <!-- User Profile Button -->
        <button id="userProfile" class="user-profile-button">👤</button>
        <h1>Project Openplate</h1>
        <!-- API Key Button -->
        <button id="apiButton" class="api-key-button pulse">🔒</button>
    </header>

    <div id="userProfileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('userProfileModal')">&times;</span>
            <div id="userProfileContent"></div>
        </div>
    </div>

    <!-- Welcome Modal -->
    <div id="welcomeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('welcomeModal')">&times;</span>
            <p>Welcome to OpenPlate! Click 🔒 to enter your API Key and get started.</p>
        </div>
    </div>

    <!-- API Key Modal -->
    <div id="apiKeyModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('apiKeyModal')">&times;</span>
            <p>Enter your API Key to proceed 🔑 ➩ 🔒</p>
            <input type="text" id="apiKeyInput" placeholder="Enter your API key here">
            <button id="apiKeySubmit">Submit</button>
        </div>
    </div>

    <!-- Notification Modal -->
    <div id="notificationModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('notificationModal')">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>

    

    <div class="chatbot">
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined"> rice_bowl </span>
                <div id="botbox" class="bot-message" readonly> {{ bot_response }} </div>
            </li>         
        </ul>        
        
        <div class="chat-input">
            <textarea id="userInput" placeholder="Enter a message..." spellcheck="false" required></textarea>
            <span id="sendButton" class="material-symbols-outlined">send</span>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='../static/app.js') }}"></script>
</body>
</html>
